#wrapper {
    margin: 0%;
    padding: 0%;

    #header {
        background-color: whitesmoke;
        padding-top: 20px;
        padding-bottom: 20px;

        img {
            margin-left: 15%;
        }

        #menu {
            float: right;
            margin-right: 15%;

            p {
                width: auto;
                float: left;
                text-align: center;
                margin: 5px 25px 5px 0px;

                &:hover {
                    color: red;
                    border-top: 1px solid red;
                    border-bottom: 1px solid red;
                }
            }
        }
    }

    #drugiDiv {

        .carousel {

            border-bottom: 2px solid red;
        }

        #nextImage {
            position: relative;
            transform: translate(+1350px, -335px);
        }

        #previousImage {
            position: relative;
            transform: translate(0px, -335px);
        }

        #buttons{
            .button {
                background-color: whitesmoke;
                border: none;
                color: white;
                padding: 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
              }

              .button5 {border-radius: 50%;}

              transform: translate(+650px, -125px);
        }
        #slikaMenu{
            transform: translate(+670px, -100px);
        }
    }

    #treciDiv{
        .centerleft{
            text-align: left;
        }
        .paddingRight{
            padding-right: 50px;
        }

        table{
            margin: 0% auto;
            tr{
                height: 50px;
            }

            transform: translate(+150px, -50px);
            .substring{
            text-decoration: whitesmoke;
        }
        }
        
    }

    .centerthisnonsence{
        padding-left: 650px;
    }
    #noBackground{
        background: whitesmoke;
    }

}