body {
  margin: 0%;
  padding: 0%;
}

#wrapper {
  height: auto;
  width: 100%;
}
#wrapper #header {
  height: 50px;
  background-color: whitesmoke;
  width: inherit;
}
#wrapper #header #menuHeader {
  float: right;
  padding-top: 15px;
  margin-right: 10%;
}
#wrapper #header #menuHeader span {
  margin-right: 10px;
}
#wrapper #header #menuHeader span:hover {
  color: red;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}
#wrapper #header #imgHeader {
  padding-top: 10px;
  margin-left: 10%;
}
#wrapper #caro {
  width: 100%;
}
#wrapper #caro .carousel img {
  width: 100%;
  border-bottom: 2px solid red;
}
#wrapper #caro #previousImage {
  position: absolute;
  top: 35%;
  left: 5%;
}
#wrapper #caro #nextImage {
  position: absolute;
  top: 35%;
  right: 5%;
}
#wrapper #caro #buttons {
  position: absolute;
  top: 460px;
  left: 47%;
}
#wrapper #caro #slikaMenu {
  position: absolute;
  top: 494px;
  left: 45%;
}
#wrapper .button {
  background-color: whitesmoke;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
#wrapper .button5 {
  border-radius: 50%;
}
#wrapper #table {
  height: auto;
  background-color: whitesmoke;
  margin-top: 100px;
}
#wrapper #table table {
  margin: 0% auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
#wrapper #table table .italic {
  font-size: 25px;
  font-style: italic;
}
#wrapper #table #modal {
  margin-left: 43%;
  padding-bottom: 20px;
}
#wrapper #table .w3-container table {
  margin: 0% auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
#wrapper #table .w3-container table .italic {
  font-size: 20px;
  font-style: bold;
}
#wrapper #featuredDishes {
  display: inline;
}
#wrapper #featuredDishes p {
  width: auto;
  display: inline-block;
  margin-left: 3%;
}
#wrapper #featuredDishes #resize {
  width: 150px;
  float: right;
}
#wrapper #featuredDishes .buttonX {
  background-color: #a58383;
}
#wrapper #wrapperImagesFeatured {
  width: 100%;
}
#wrapper #wrapperImagesFeatured #imagesFeatured {
  width: 900px;
  margin: 0% auto;
}
#wrapper #wrapperImagesFeatured #imagesFeatured img {
  width: 200px;
  height: auto;
  padding-right: 20px;
}
#wrapper #wrapperImagesFeatured #imagesFeatured #firstimg {
  margin-left: 5%;
}
#wrapper .heartImage {
  height: 20px;
  width: 20px;
}
#wrapper .shorten {
  width: 40px;
}
#wrapper #table1 {
  width: 70%;
  margin: 0% auto;
}
#wrapper #table1,
#wrapper #table2 {
  font-size: 10px;
  font-style: italic;
}
#wrapper #table2 {
  margin: 0% auto;
  width: 71%;
}
#wrapper #fix0,
#wrapper #fix1,
#wrapper #fix2,
#wrapper #fix3 {
  width: 120px;
}
#wrapper #fix00,
#wrapper #fix11,
#wrapper #fix22,
#wrapper #fix33 {
  text-align: center;
}
#wrapper #fix2 {
  padding-left: 5px;
}
#wrapper #fix3 {
  padding-left: 8px;
}
#wrapper #aboutus {
  width: 80%;
  margin: 0% auto;
}
#wrapper #aboutus #naslov1 {
  width: 70%;
  font-size: 20px;
  font-style: bold;
}
#wrapper #aboutus #naslov2 {
  font-size: 20px;
}
#wrapper #aboutus table #floatRight {
  float: right;
}
#wrapper #aboutus table #setFont {
  font-size: 20px;
  font-style: italic;
}
#wrapper #gallery hr {
  width: 150px;
  background-color: 2px solid whitesmoke;
  display: inline-flex;
}

body #imagesWrapper {
  background-color: grey;
  width: 80%;
  margin: 0% auto;
}
body #imagesWrapper table {
  margin: 0%;
  padding: 0%;
}
body #imagesWrapper table td {
  border: 1px solid whitesmoke;
}
body #imagesWrapper table img {
  height: 220px;
  width: 300px;
}
body #imagesWrapper table #rowspanimg {
  height: 450px;
  width: 400px;
}

/*# sourceMappingURL=index.css.map */
